include README.md
include LICENSE
include CHANGELOG.md
include radio.yaml
include radio_default.yaml
include requirements.txt
recursive-include * *.yaml
recursive-include * *.yml
recursive-include * *.json
